/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --color-titulos: #464646;
   --color-fondo-azul: #eaf2f0;
   --color-cajas: #fbfbfb;
   --azul-botones: #2a7ae4;



}

body {
    box-sizing: border-box;
    background-color:chocolate;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {

    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);

    
}

img .title_profile{
width: 200px;
height: 150px;

}
  


/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
display: flex;  
justify-content: space-between;
align-items: center;
align-content: flex-end;
height: 10vh;
margin:0px 153px;
}

header.menu__header{
display: flex;
justify-content: space-between;
font-size: 16px;
font-weight: 700;
color: var();
}

section.menu nav ul.menu__list{
display: flex;
justify-content: space-between;
font-size: 16px;
width: 750px;

}

/* stylo para email nv */
section.menu nav ul.menu__list li:nth-child(6){
color: black;
font-weight: 800;
}


/*Sección Title*/

Sección Title{
margin: 0 153px;
width: 80%;
color: var(--color-titulos);
}

section.title div.title__div{
    justify-content: space-around;
    align-content: flex-start;
display: flex;
flex-direction: row-reverse;
}

section.title div.title__container h2 {
    text-align:right;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;

}

section.title img.title_profile{
    width: 250px;
    border-radius: 20rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

section.title div.title__div div.title__container h3{
font-size:17px;
line-height: 23px;
width: 600px;
margin-bottom: 30px;

}

/*container link redes sociales*/

section.title div.title__div div.title__container ul{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px;
width: 500px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}




/*Sección About*/

section.about{
padding: 62px 153px;
background-color: var(--color-fondo-azul);
}

/*container seccion about*/
section.about div.about__container{
    width: 700px;
}

section.about h3.about__title{
font-size: 32px;
}

/*textos sección about*/
section.about div.about__container p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

}

section.about div.about__container img{
    width: 35%;
}

section.skills{
    margin: 64px 100px;

}

section.skills h3.skills__title{
font-size: 32px; 
text-align: center;  
}

section.skills div.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/* cajas skills */
section.skills div.skills__box{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 16px;
background-color: var(--color-cajas);
margin: 22px 15px 22px 0px;
width: 150px;
height: 160px;
}


section.skills div.skills__box ul{
margin: 0;
padding: 0;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: var(--color-titulos);


}
/*Sección Hobbies*/

section.hobbies{
    margin: 64px 100px;   
}

/*titulo de la sección*/
section.hobbies h3.hobbies__title{
font-size: 32px;
text-align: center;


}

/*alineación de iconos*/
section.hobbies div.hobbies__line{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;
}

/* cajas de hobbies */
section.hobbies div.hobbies__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 22px 15px 22px 0px;
    width: 150px;
    height: 160px;
}


section.hobbies div.hobbies__box ul{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos); 

}

/* Experiencia Académica*/

section.academic{
padding: 64px 0;
background-color: var(--color-fondo-azul);
}


/* titulo de la seccion */
section.academic h2.academic__title{
    font-size: 32px;
    text-align: center;
}

/* posicion de la seccion */
section.academic div.academic__courses{
display: flex;
justify-content: center;

}

section.academic div.academic__courses__box{
width: 26.6rem;
margin: 0 1rem;

}

section.academic div.academic__courses__box ul{
margin: 32px;
padding: 0;
}


section.academic div.academic__courses__box ul li{
padding: 0;
margin: 32px;
}

div.academic__courses__box ul li.academic__courses__item__img{
background-color: var(--color-cajas);
padding: 8px;

}


div.academic__courses__box ul li img:nth-child(1){
    color: black;
    font-weight: 800;
    text-align: center;
}

div.academic__courses__box ul li.academic__courses__item__img{
    color: black;
    font-weight: 800;
    text-align: center;

}


/* experiencia*/

section.experience{

        background-color: #F5F5F5;
    }
    
    .experiencia{
        padding: 70px 0;
    }
    
    .experiencia__titulo{
        font-size: 25px;
        font-weight: 600;
        color: #494141;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .experiencia__contenidos{
        display: flex;
        flex-direction: column;
    }
    
    .experiencia__contenido{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 40px 0;
    } 
    
    .experiencia__contenido__img{
        width: 60%;
        border-radius: 10px;
        box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.35);
    }
    
    .experiencia__contenido__informacion{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .experiencia__contenido__informacion__botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .experiencia__contenido__informacion__titulo{
        font-weight: 600;
        font-size: 1.5rem;
    }    
    
    .experiencia__contenido__informacion__texto{
        font-size: 1.2rem;
    }
    
    .experiencia__contenido__informacion__titulo,
    .experiencia__contenido__informacion__texto{
        padding: 5px 0;
    }
    
    .btn-repo, 
    .btn-demo{
        text-decoration: none;
        margin-top: 5px;
        border-radius: 4px;
        font-size: 1.3rem;
    }
    
    .btn-repo:hover, 
    .btn-demo:hover{
        box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.35);
    }
    
    .btn-repo{
        padding: 8px 25px;
        color: #2A7AE4 ;
        border: 1px solid #2A7AE4;
        margin-bottom: 5px;
    }
    
    .btn-demo{
        padding: 10px 33px;
        color: #ffffff;
        background-color: #2A7AE4;
    }

/*Contacto*/

section.formcontato {

}

/*footeer*/

section.footer{
     padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer__contenido p:not(:last-child){
        margin-bottom: .8rem;
    }


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/
img .title_profile{
    width: 100%;
    margin-bottom: 1.5rem;
}

/*Skills*/


	

/*Hobbies*/

/*Formación Académica*/


/*Experiencia Profesional*/

/*contacto*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/


/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}